<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Movie Reviews</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarCollapse">
      <div class="navbar-nav" routerLinkActive="active">
        <a href="/movies" class="nav-item nav-link" routerLink="movies">Movies </a>
        <div *ngIf="showAddReviewBoard">
          <a href="/addReview" class="nav-item nav-link" routerLink="addReview">Add Review</a>
        </div>
        <li *ngIf="showManagementBoard" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/users" routerLink="users">List Users</a>
              <a class="dropdown-item" href="/genres" routerLink="genres">Genres</a>
              <a class="dropdown-item" href="/management" routerLink="management">Add Movie</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item disabled" href="#">Reviews</a></li>
            <li><a class="dropdown-item disabled" href="#">Users</a></li>
            <li><a class="dropdown-item disabled" href="#">Genres</a></li>
          </ul>
        </li>
      </div>
    </div>

    <div class="collapse navbar-collapse text-center" id="navbarCollapse">
      <div class="navbar-nav ml-auto" routerLinkActive="active">
        <div class="dropdown-divider" style="border-color:white;"></div>
        <div *ngIf="!isLoggedIn">
          <div class="navbar-nav">
            <a href="/register" class="nav-item nav-link" routerLink="register">Register</a>
            <a href="/login" class="nav-item nav-link" routerLink="login">Login</a>
          </div>
        </div>
        <div *ngIf="isLoggedIn">
          <div class="navbar-nav">
            <a href="/profile" class="nav-item nav-link" routerLink="profile">{{ username }}</a>
            <a id="logoutButton" class="nav-item nav-link" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
