/* You can add global styles to this file, and also import other style files */

/*Angular material setup*/
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

#logoutButton {
  cursor: pointer;
}

.mat-snack-bar-container {
  text-align: center;
}

.mat-simple-snackbar {
  display: inline-block !important;
}
